@import "../../styles/app";

td {
  vertical-align: middle !important;
}

.table-bordered th {
  background: $blue;
  color: $gray-light;
  border: none;
}

.balanceBox {
  width: 100%;

  &__content {
    text-align: right;
  }
}

// .currency-dropdown{
//   width: 6vw;
//   &__label{

//   }
//   &__menu{
//     display: block;
//   }
//   &__item{
//    &:hover{
//     background-color: #e9ecef;
//     color: #1e2125;
//    } 
//   }
// }
.toggle_button {
  color: black;
}


// .currency-dropdown {
//   width: 6vw;
//   display: inline-flex !important;
//   background-color: #2CA0BA;
//   // border-color: #2CA0BA;
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
//   border-top-left-radius: 8px;
//   border-bottom-left-radius: 8px;
//   align-items: center;
//   justify-content: left;
//   &:hover{
//     background-color: #25859b;
//     border-color: #227d91;    
//   }
//   &:active{
//     border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
//   border-top-left-radius: 8px;
//   border-bottom-left-radius: 8px;
//   align-items: center;
//   justify-content: left;
//   }
//   &__label {
//     width: 6vw;
//     color: #fff;
//     // background-color: #2CA0BA;
//     // border-color: #2CA0BA;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     border-top-left-radius: 8px;
//     border-bottom-left-radius: 8px;
//     border: none;
//     display: inline-flex;


//     &:hover {
//       color: #fff;
//       background-color: #25859b;
//       border-color: #227d91;
//     }
//   }

//   &__warmlabel {
//     width: 6vw;
//     color: #fff;
//     background-color: #FFBF69;
//     border-color: #FFBF69;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     border-top-left-radius: 8px;
//     border-bottom-left-radius: 8px;
//     border: none;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;

//     &:hover {
//       color: #fff;
//       background-color: #ffaf43;
//     }
//   }

//   &__menu {
//     display: block;
//   }

//   &__item {
//     &:hover {
//       background-color: #e9ecef;
//       color: #1e2125;
//     }
//   }
// }

.currency-dropdown {
  width: 6vw;

  &__label-blue {
    width: 100%;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #2CA0BA;

    &:hover {
      background-color: #25859b;
    }
    &:active {
      background-color: #25859b !important;
    }
    &:focus {
      background-color: #2CA0BA;
    }
  }

  &__label-yellow {
    width: 100%;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #FFBF69;

    &:hover {
      background-color: #ffaf43;
    }
    &:active {
      background-color: #ffaf43 !important;
    }
    &:focus {
      background-color: #FFBF69;
    }
  }

  &__option {
    color: black;
  }
}

.borrow-power{
  padding-right: 20px;
  &__option{
    padding-left: 2px;
    padding-right: 2px;
  }
}