.button{
    background-color: white  !important;
    color: black  !important;
    border: 1px solid white  !important;
  
    &:active {
      border: 1px solid black !important;
      background-color: white !important;
      color: white !important;
    }
  
    &:focus {
      border: 1px solid black !important;
      background-color: black;
      color: white !important;
    }
  
    &:hover {
      border: 1px solid white;
      background-color: black !important;
      color: white !important
    }
  }
  