td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

th, td {
    padding: 15px;
}

.rowHover {
    color: #ffffff;
    background-color: #000000;
    border: solid;
    border-width: 1px;
    border-color: rgb(122, 122, 122);
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    display: 'flex';
    align-items: 'center';
    box-shadow: var(--widget-shadow);
}

.rowHover:hover {
  color: #ffffff;
  background-color: #444444;
}


.rowHovered {
  color: #ffffff;
  background-color: #444444;
  border-style: none;
  border-width: 1px;
  border-color: rgb(122, 122, 122);
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  display: 'flex';
  align-items: 'center';
  box-shadow: var(--widget-shadow);
}


.table-light {
  background-color: #444444;
  box-shadow: var(--widget-shadow);
}

.smart-vault-input {
  box-shadow: var(--widget-shadow) !important; 
}