td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

th, td {
    padding: 15px;
}

.rowHover {
    color: #ffffff;
    background-color: #000000;
    border: solid;
    border-color: #ffffff;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
}

.rowHover:hover {
  color: #000000;
  background-color: #ffffff;
}